<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="..." class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">@ViewBag.Name</h5>
        <p class="card-text">Description: @ViewBag.Description</p>
        <p class="card-text">Bedrooms: @ViewBag.Bedroom</p>
        <p class="card-text">Price: @ViewBag.Price</p>
        <p class="card-text">Rules: @ViewBag.Rules</p>
        <label class="card-text">Search for Availability: 
        <input type="date" id="date-availability" name="date-availability">
        </label>
      </div>
    </div>
  </div>
</div>